<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog App</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <header class="header">
      <div class="header-wrapper">
        <div class="div-title">
          <a href="/" class="title">Catalog</a>
        </div>
      </div>
    </header>
    <div class="container">
      <form action="{{ url_for('newCategory')}}" method = 'post'>
      <div class="form">
        <span class="main-subtitle">New Category</span>
        <input name="name" type="text" class="input" placeholder="Name" />
        <div class="buttons-action">
          <a class="buttons-link cancel" href="{{url_for('catalogMenu')}}"> Cancel </a>
          <input class="buttons-link confirm" type="submit" value="Create"/>
        </div>
      </div>
    </div>
  </body>
</html>
